@import "/style/vars.css";

/* -------- hide scrollbars on all browsers  -------- */
html, body {
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar { display: none; }

/* -------- default tag classes  -------- */
body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: "Ubuntu Sans Mono", monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: var(--font-size); 
}
a {  color:unset;  }
a:hover {color: var(--link-color);}


/* -------- nav bar css  -------- */
#nav-bar {
    width:100%;
    font-size: var(--large-font-size);
}
.nav-item {
    float:left;
    padding:10px 30px;  
    transition: transform 0.2s ease-in-out;
}
.nav-item:hover { transform: translateY(-3px); }
.nav-item.right { float:right; }

a.nav-link { text-decoration: none; }
a.nav-link:hover { color: var(--link-color); }


/* -------- main container css -------- */
main { width:65%; flex: 1; margin: auto;}
h1.page-header {
  text-align: center;
}

/* -------- footer css  -------- */
.footer {
  width: 100%;
  background-color: var(--secondary-background);
  color: var(--secondary-text-color);
  padding:3rem 0 2rem 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footer-main {
  width:65%;
}
.footer-col {
  display:flex;
  flex-direction: column;
  float:left;
}
.footer-col.right {
  float:right;
  max-width:30%;
  margin-left: 5%;
}
.footer-col.right > * {
  text-align: right;
}

.footer-header {
  font-size: var(--medium-font-size);
  font-weight: 700;
  padding-bottom:5px
}
.footer-item {
  padding-top:10px; 
}
.footer-link {
  text-decoration: none;
}

.footer-bottom {
  width:65%;
}
