.projects-main {
    width:100%;
}
.project {
    background:var(--secondary-background);
    border-radius: var(--border-radius);
    color: var(--secondary-text-color);
    transition: transform 0.2s ease-in-out;
    margin-bottom:1.5rem;
}

.project:hover { transform: scale(1.05); }

.project > small {
    padding-left:1rem;
}
.project-name {
    border-bottom: .5px var(--third-color) solid;
    padding:1rem;
    margin-top: 0;
    margin-bottom: .4rem;
}
.project-name > a {
    text-decoration:none;
    display: flex;
    align-items: center;
    gap:.75rem;
}
.project-desc {
    padding:0 15px 15px 15px;
}
