<div class="footer">
    <div class="footer-main">
        <div class="footer-col">
            <span class="footer-header">techdan.org</span>
            <span class="footer-item">just a guy with a wesbite</span>
            <span class="footer-item">buy me a coffee: <a href="https://ko-fi.com/">&#x2615; kofi</a></span> 
        </div>
        
        <div class="footer-col right">
            <span class="footer-header">socials</span>
            
            <a class="footer-item footer-link" href="https://youtube.com"> youtube <span style="color:red">▶</span></a>
            <a class="footer-item footer-link" href="https://github.com"> github 🐙</a>
            <a class="footer-item footer-link" href="https://linkedin.com"> linkedin Ⓛ</a>
            <a class="footer-item footer-link" href="https://x.com">x 𝕏</a>
        </div>
        <div class="footer-col right">
            <span class="footer-header"> my projects</span>
            <span class="footer-item"> Project 1</span>
            <span class="footer-item"> Project 2</span>
            <span class="footer-item"> Project 3</span>
            <span class="footer-item"> Project 4</span>
            <span class="footer-item"> Project 5</span>
        </div>
    </div>
    
    <div class="footer-bottom">
        <small> powered by <a href="https://www.netlify.com/">Netlify</a></small> <br>
        <small>© 2026 techdan. All Rights Reserved.</small>
        
    </div>

</div>