html, body {
  height: 100%;
  /*overflow: hidden;*/
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}

body {
    background-color: #121417;
    color: #F5F7FA;
    font-family: "Ubuntu Sans Mono", monospace;
    font-weight: 400;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    
}
a {  color:unset;  }

.nav-bar {
    width:100%;
    font-size: 24px;
}


.nav-item {
    float:left;
    padding:10px 30px;  
    transition: transform 0.2s ease-in-out;
}
.nav-item.right { float:right; }
.nav-item:hover { transform: translateY(-3px); }

a.nav-link { text-decoration: none; }

a.nav-link:hover { color:#14D9C4; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1B1F24;
  color: #A7B0BA;
  text-align: center;
}
